<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>省心租-管理面板</title>
    <link rel="shortcut icon" href="../static/images/favicon.ico">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/administer.css">
    <script src="../static/js/jquery-1.12.4.min.js"></script>
    <script src="../static/echarts/dist/echarts.min.js"></script>
</head>
<body>

{{.LayoutContent}}

</body>
</html>