<div class="main_con clearfix">
    <div class="left_menu_con clearfix">
        <h3>用户中心</h3>
        <ul>
            <li><a href="/user/userCenterInfo">· 个人信息</a></li>
            <li><a href="/user/userCenterOrder">· 全部订单</a></li>
            <li><a href="/user/userCenterMyPublish">· 我的发布</a></li>
            <li><a href="/user/userCenterPublish">· 发布房源</a></li>
            <li><a href="/user/userCenterSite">· 更改地址</a></li>
        </ul>
    </div>

    <div class="right_content clearfix">
        <h3 class="common_title2">变更住房信息</h3>
    <ul class="update_list_th w978 clearfix">
        <li class="col01">上架时间：{{.goodsSKU.Time}}</li>
        <li class="col02">住房种类：{{.goodsSKU.GoodsType.Name}}</li>
        <li class="col02 stress">已上架</li>
    </ul>
    <table class="update_list_table w980">
        <tbody>
        <tr>
            <td style="width:55%">
                <ul class="update_goods_list clearfix">
                    <li class="col01"><img src="http://192.168.117.132:8888/{{.goodsSKU.Image}}" alt="图片"></li>
                    <li class="col02">{{.goodsSKU.Name}}<em>{{.goodsSKU.Price}}{{.goodsSKU.Unite}}/月</em></li>
                    <li class="col03">x{{.goodsSKU.Stock}}</li>
                    <li class="col04">简介：{{.goodsSKU.Desc}}</li>
                    <li class="col05">详细描述：{{.goodsSKU.Goods.Detail}}</li>
                    <li class="col06">
                        <i>联系电话：{{.goodsSKU.Phone}}</i>
                        <i>地址：{{.goodsSKU.Addr}}</i>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="right_content clearfix">
        <div class="site_con">
            <div class="form_group">
                <label for="goodsTypeId">
                    住房类型：
                    <select id="goodsTypeId">
                        <option value="" selected disabled>选择类型</option>
                        <option value="1">西式洋房</option>
                        <option value="2">宽敞平层</option>
                        <option value="3">经典复式</option>
                        <option value="4">气派别墅</option>
                        <option value="5">花园公寓</option>
                        <option value="6">小型住房</option>
                    </select>
                </label>
            </div>
            <div class="form_group">
                <label>名称：</label>
                <input type="text" name="goodsName">
            </div>
            <div class="form_group">
                <label>价格：</label>
                <input type="text" name="goodsPrice">
            </div>
            <div class="form_group form_group2">
                <label>地址：</label>
                <textarea class="site_area" name="goodsAddr"></textarea>
            </div>
            <div class="form_group">
                <label>选择图片：</label>
                <input type="file" name="goodsImage" class="upload_image">
            </div>
            <div class="form_group">
                <label>联系电话：</label>
                <input type="text" name="goodsPhone">
            </div>
            <div class="form_group">
                <label>简介：</label>
                <input type="text" name="goodsDesc">
            </div>
            <div class="form_group">
                <label>详细描述：</label>
                <input type="text" name="goodsDetail">
            </div>
            <a href="javascript:" class="update_btn" skuId="{{.goodsSKU.Id}}">更新</a>
        </div>
    </div>
    </div>
</div>

<!-- 显示操作成功框 !-->
<div class="popup_con">
    <div class="popup">
        <p>更新成功</p>
    </div>

    <div class="mask"></div>
</div>